header img {
    float: left;
}
header h1 {
    position: relative;
    left: 10px;
    top: 10px;
}
#results {
    float: left;
    margin-left: -165px;
    width: 300px;
    height: 500px;
    border-style: dashed;
}
h3 {
    text-align: center;
}
#images {
    display: inline;
    position: relative;
}
p {
    border-style: dashed;
    margin-left: 300px;
    margin-right: 120px;
    margin-top: 70px;
}
footer {
    border-style: dashed;
}
footer h1 {
    text-align: center;
}